__pycache__
pythonenv*
.python-version
.coverage
venv
.venv
config/.storage/
config/home-assistant*
config/blueprint*

config/.HA_VERSION
config/configuration.yaml
config/known_devices.yaml

node_modules/.cache*
