-r requirements.txt
pytest-asyncio
pytest-homeassistant-custom-component
#==0.13.50
pre-commit
isort
black==24.8.0
# AJG 2024-04-07: github not completing tests due to this.
pyudev
pyserial-asyncio==0.6
pyserial==3.5
